body {
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 0;
}

.header {
  background: #fff;
  padding: 20px;
}

.displayButton {
  padding: 5px 0px 5px 10px;
  border: solid 1px #ddd;
  display: flex;
  align-items: center;
}

.displayButton i {
  margin-right: 5px;
  line-height: 0;
}

.wrapBtnDrop {
  position: relative;
  display: inline-block;
}

.sort-options {
  position: absolute;
  top: 130%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  left: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #fafafa;
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #e5e5e5;
}

.sort-options label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 0;
}

.sort-options select {
  margin-left: 10px;
  border: solid 1px #e5e5e5;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}

.kanban-column {

  margin: 10px 0.5%;
  padding: 10px;
  /* max-width: 400px; */
  width: 19%;
  border-radius: 5px;
}

.progIcon {
  line-height: 0;
  margin-right: 5px;
}

.kanban-column h2 {
  font-size: 15px;
  font-weight: normal;
  align-items: center;
  display: flex;
}

.kanban-card {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  position: relative;

}

.kcId {
  font-size: 12px;
  color: #6f6f6f;
}

.kanban-card h3 {
  font-weight: normal;
  margin: 10px 0;
}

.kbtag {

  font-size: 12px;
  padding: 2px 5px 2px 18px;
  border: 1px solid #ddd;
  color: #6f6f6f;
  border-radius: 3px;
  position: relative;
}

.kbtag:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6f6f6f;
}

.UserName {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: red;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.sort-options {
  margin-bottom: 20px;
}